

h1{
      font-family: cursive;
    color: aliceblue;
     margin: 10px;
     font-size: 100px;
}

a{
    color: aqua;
}

h3{
    color: aliceblue;
    font-size: 40px;
    padding-left: 100px;
}

p{
    z-index: -2;
    position: relative;
     padding: 10px;
    padding-left: 400px;
    color: aliceblue; 
    font-size: 20px;
  
     
}

body{
    
   background-image: url(https://media2.giphy.com/media/QgSDig12UOZ0s/giphy.gif?cid=790b76115594c0225311fb633c3466c37d396292201fa27a&rid=giphy.gif);
}

#test{
    z-index: -1;
    position: relative;
    padding-bottom: 500px;
    padding-left: 400px;
    margin: 20px;
    
    
}